<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/carrito.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><button type="submit" class="logo-button"><img src="images/logo plantilla.png" alt="logo"></button></div>
            <div class="topright-header">
                <button type="submit">Cerrar</button>
            </div>
        </div>
    </header>
    <div class="title">
        <h3>Productos seleccionados</h3>
    </div>
    <div class="total">
        <h3>Total de productos:</h3>
    </div>
        <main>
            <div class="producto">
                <img src="images/producto.png" alt="product">
                <i class="fas fa-percent"></i>
            </div>
            
            
            <h2>Nombre del producto</h2>
            </div>
            
            <div class="brand">
                <h3>Marca</h3>
            </div>
            
            <div class="price">
                <h3>Precio</h3>
                <h3> %Precio</h3>
            </div>
           <div class="subtotal">
            <h4>Subtotal:</h4>
           </div>
            <div class="boton">
                <button type="submit" class="finalizar">Finalizar</button>
            </div>
    
           </main>
</body>
</html>