<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyHouse</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><button type="submit" class="logo-button"><img src="images/logo plantilla.png" alt="logo"></button></div>
            <div class="topright-header">
                <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
                <button  type="submit" class="burger-menu"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </header>
    <main>

    </main>
</body>
</html>