<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyHouse</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><a href="/"><button type="submit" class="logo-button"><img src="images/logo plantilla.png" alt="logo"></button></a></div>
            <div class="account">
                <a href="/register"><button class="register">Registrarme</button></a>
                <a href="/login"><button class="login">Iniciar Sesion</button></a>
            </div>
            <div class="topright-header">
                <a href="/carrito" class="cart">
                    <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
                </a>
                    <button  type="submit" class="burger-menu"><i class="fas fa-bars"></i></button>
                    
            </div>
        </div>
    </header>
    <main class="home-page">
        <h1>¡NOVEDADES!</h1>
        <div class="banner">
        <img src="images/producto.png" alt="product">
        </div>
            <div class="arrows">
                <button class="arrow-left"><i class="fas fa-chevron-left"></i></button>
                <button class="arrow-right"><i class="fas fa-chevron-right"></i></button>
                </div>
        <div>
            <button class="dots"><i class="fas fa-ellipsis-h"></i></button>
        </div>
        <div class="products"><h2>Nuestros productos</h2></div>

        <div class="product">
            <a href="/producto">
            <img src="images/producto.png" alt="product">
            <i class="fas fa-percent"></i>
            </a>
        </div> 
        <h2>Nombre del producto</h2>
        </div> 
        <div class="brand">
            <h3>Marca</h3>
        </div>
        <div class="price">
            <h3>Precio</h3>
            <h3> %Precio</h3>
        </div>
        <div class="button">
            <a href="/carrito"><button type="submit" class="buy">Comprar</button></a>
            <button type="submit" class="cart"><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></button>
        </div>
    </main>
    <footer>
        <div class="info">
        <a class="pay" href="payment">Metodos de pago</a>
        <a class="inform" href="information">Sobre nosotros</a>
        <a class="contact-us" href="contact">Contáctanos</a>
        </div>
        <div class="social-media">
        <a class="facebook" href="https://es-la.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a class="instagram" href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
        <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="copyright">
            <p>Copyrigth 2021 © ToyHouse</p>
        </div>
    </footer>
</body>
</html>