<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><img src="images/logo plantilla.png" alt="logo"></div>
            <div class="topright-header">
                <button class="cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="burger-menu"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </header>
    <main>
        <h1>¡Inicia sesion!</h1>
        <form action="" method="post" class="login-form">
        <div class="information">
            <label for="email">Correo electronico</label>
            <input type="email" name="email" placeholder="tu@mail.com"> 
        </div>
        <div class="information">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password"> 
        </div>
        </div>
        <div class="remember">
            <input type="checkbox" name="check">  
            <label for="remember">Recordarme</label>
        </div>
        <div class="login">
            <button type="submit" class="login">Inicia sesion</button>
        </div>
        </form>
    </main>
</body>
</html>