<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><img src="images/logo plantilla.png" alt="logo"></div>
            <div class="topright-header">
                <button class="cart"><i class="fas fa-shopping-cart"></i></button>
                <button class="burger-menu"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </header>
    <main>
        <h1>¡inicia sesion!</h1>
        <div class="information">
            <h3>Correo Electronico</h3>
            <input type="text" name="email" placeholder="tu@mail.com">
            <h3>Contraseña</h3>
            <input type="text" name="password">
        </div>
        <div>
            <button><i class="far fa-check-circle"></i></button>
            <h4>Recordarme</h4>
        </div>
        <div>
            <button>Inicia sesion</button>
        </div>
    </main>
</body>
</html>