<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"><a href="/"><button type="submit" class="logo-button"><img src="images/LogoToyhouse.png" alt="logo"></button></a></div>
            <div class="account">
                <a href="/register"><button class="register">Registrarme</button></a>
                <a href="/login"><button class="login">Iniciar Sesion</button></a>
            </div>
            <div class="topright-header">
                <a href="/carrito" class="cart">
                    <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
                </a>
                    <button  type="submit" class="burger-menu"><i class="fas fa-bars"></i></button>
                    
            </div>
        </div>
    </header>
    <main class="cart-page">
            <div class="title">
                <h3>Productos seleccionados</h3>
            </div>
            <div class="total">
                <h3>Total de productos:</h3>
            </div>
            <div class="product">
                <img src="images/producto-1.jpg" alt="product">
                <div class="percent"><i class="fas fa-percent"></i></div>
            </div>
            <h2 class="product-name">Nombre del producto</h2>
            </div>
            <div class="brand">
                <h3>Marca</h3>
            </div> 
            <div class="price">
                <h3>Precio</h3>
                <h3> %Precio</h3>
            </div>
           <div class="subtotal">
            <h4>Subtotal:</h4>
           </div>
            <div class="finish-button">
                <a href="/"><button type="submit" class="finalizar">Finalizar</button></a>
            </div>   
    </main>
    <footer class="footer">
            <div class="info">
            <a class="pay" href="payment">Metodos de pago</a>
            <a class="inform" href="information">Sobre nosotros</a>
            <a class="contact-us" href="contact">Contáctanos</a>
            </div>
            <div class="social-media">
            <a class="facebook" href="facebook"><i class="fab fa-facebook-square"></i></a>
            <a class="instagram" href="instagram"><i class="fab fa-instagram"></i></a>
            <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="copyright">
                <p>Copyrigth 2021 © ToyHouse</p>
            </div>
    </footer>
</body>
</html>