<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/producto.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <main>
        <div class="producto"><img src="images/producto.png" alt="product"></div>
        <div class="percent" ><i class="fas fa-percent"></i></div>
        
        <h2>Nombre del producto</h2>
        </div>
        
        <div class="brand">
            <h4>Marca</h4>
        </div>
        
        <div class="price">
            <h4>Precio</h4>
            <h4> %precio</h4>
        </div>
       
        <div class="button">
            <button type="submit" class="comprar">Comprar</button>
            <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
        </div>

       </main>
        
</body>
</html>