*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}
header div.top-header{
    display: flex;
    background-color:#E5E9F2;
    justify-content: space-between;
    height: 100px;
}
header div.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header button.logo-button{
    background-color: transparent;
    border: none;
}
header div.logo img{
    width: 65%;
}
header div.topright-header{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header button.cart{
    background-color: transparent;
    border: none;
}
header button.burger-menu{
    background-color: transparent;
    border: none;
}
header div i.fa-shopping-cart{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
header div i.fa-bars{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 5px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin:10px 0px;
    width: 90%;
    text-align: center;
}
main form.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div.information{
    display: flex;
    flex-direction: column;
    width: 80%;
}
main div.information label{
    font-weight: 600;
}
main div.information input{
    margin:5px 0px;
    padding: 5px 0px;
}
main div.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}
main div.notifications label{
    width: 90%;
    text-align: center;
    font-size: 15px;
    
}
main div.notifications input{
    padding: 2px;
}
main button.check{
    background-color: transparent;
    border: none;
}

main button.reg-button{
    font-size: 15px;
    background-color: #47525E;
    color:white;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin:0px 0px 20px;
}