*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
header.header{
    background-color:#ff4545f8;
    padding: 0.5rem 0;
    font-size: 18px;
    top:0;
    left:0;
    right:0;
    z-index: 2;

}
header .menu-icon{
    display: none;
}
.header a{
    color: white;
    text-decoration: none;
}

header div.logo-nav-container{
    width: 95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header div.logo-list{
    width: 30%;
    display: flex;
    height: 100px;
}
header div.logo {
    width: 100px;
    
}
header div.logo img{
    border-radius: 50%;
}
header div.list{
width: 60%;
display: flex;
align-items: center;
padding-left: 2rem;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
header .navigation ul li{
    display: inline-block;
}
header .navigation ul li.user-image{
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    padding-left: 40px;
}
header .navigation ul li.user-image a img{
    width: 30%;
}
header .navigation ul li img{
    width: 30%;
    border-radius: 50%;
}
header  ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
header ul li a:hover{
        background-color:#f88888f8 ;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}
main.register h1{
    padding-top: 5rem;
    margin:10px 0px;
    width: 90%;
    text-align: center;
    color: #3880bf;
}
main.register form.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
main div.information{
    display: flex;
    flex-direction: column;
    width: 80%;
}
main.register div.information label{
    font-weight: 600;
}
main.register div.information input{
    margin:5px 0px;
    padding: 5px 0px;
    border: #3880bf solid 1px;
}
main.register div.image{
    display: flex;
    flex-direction: column;
 width: 80%;
}
main.register div.image input{
    margin: 5px;
}
main.register div.image label{
    font-weight: 600;
}
main.register div.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}
main.register div.notifications label{
    width: 90%;
    text-align: center;
    font-size: 15px;
    
}
main.register div.notifications input{
    padding: 2px;
    cursor: pointer;
}
main.register button.check{
    background-color: transparent;
    border: none;
}

main.register button.reg-button{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin:0px 0px 20px;
    cursor: pointer;
    background-color: #3880bf;
    border-radius: 5px;
    font-size: 20px;
    border:none;
    text-decoration: none;
    color:white;
}

.percent{
    position: relative;
    left: 60px;
    top: 21px;
}


.close-button{
      border: none;
background-color: transparent;
font-size: 16px;
  }



.finish-button .finalizar{
    position: relative;
    bottom: 40px;
    border: none;
    background-color: #47525E;
    color: white;
    padding: 5px 9px 5px 9px;
    border-radius: 5px;
    cursor: pointer;
}

main.product-page .percent{
        display: flex;
        flex-wrap: nowrap;
}
      
main.product-page div.producto{
        display:flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: 250px;
        align-items: center;
}
main.product-page div.producto img{
        position: relative;
        left: 5px;
        margin:0px 0px 0px 20px;
        width: 100px;
        height: 100px;
    }
main.product-page div.producto i{
    background-color: white;
    font-size: 20px;
    position: relative;
    bottom: 103px;
      right: 215px;
      border:solid black;
      padding: 5px;
      border-radius: 50%;
}
    
main.product-page  h2{
        display: flex;
        margin: 11px;
        flex-wrap: nowrap;
        justify-content: center;
      }
      
main.product-page div.brand{
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      justify-content: center;
      }
main.product-page div.price{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: px;
        }
        
main.product-page button.buy{
          font-size: 20px;
          padding: 5px;
          background-color: #47525E;
          display: flex;
          flex-wrap: wrap;
          color: white;
          justify-content: center;
          border-radius: 5px;
          
        }
main.product-page button.buy a{
    text-decoration: none;
    color:white;
}
      
main.product-page button.cart{
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          color: #47525E;
          justify-content: center;
          border: none;
          align-items: center;
          font-size: 20px;
}
main.product-page div.button{
        margin: 13px;
        position: relative;
        left: 13px;
        width: 40%;
        display: flex;
        justify-content: space-around;
}
main.login-page h1{
        margin: 25px 0px;
        color: #3880bf;
}
main.login-page  div.information{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
}
main.login-page  div.information label{
        font-weight: 600;
}
main.login-page  div.information input{
        margin:5px 0px;
        padding: 5px 90px 5px 2px;
        border: solid #3880bf 1px;
}

main.login-page  div.mail{
        display: flex;
        width: 100%;
} 
main.login-page  div.password{
        display: flex;
}
main.login-page  form div.remember{
        display: flex;
        justify-content: center;
        align-items: center;    
}
main.login-page  form div.remember input{
        margin: 10px;
}

main.login-page  form div.forgot{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}   
main.login-page  form div.forgot button label{
    background-color: transparent;
}
main.login-page  form div.forgot button{
    border: none;
}
main.login-page  form div.forgot a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
main.login-page  form div.forgot label{
   font-size: 15px;
   cursor: pointer;
   background-color: rgba(208,227,234,255);
}
main.login-page  form div.remember input{
    margin: 10px;
    cursor: pointer;
}

main.login-page  button.check{
        background-color: transparent;
        border: none;   
}
main.login-page  form.login-form{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 50%;
}
main.login-page  div.login{
        display: flex;
        justify-content: center;
        margin:10px 0px;
}
main.login-page  button.login{
        background-color: #3880bf;
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        margin:0px 0px 20px;
        cursor: pointer;
        background-color: #3880bf;
        border-radius: 5px;
        font-size: 20px;
        border:none;
        text-decoration: none;
        color:white;   
}

main.login-page  button.login a{
    color: white;
    text-decoration: none;
}
main.home-page section.banner{
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
main.home-page div.banner{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;

}

main.home-page h1{
    margin: 12px;
}
main.home-page .arrow-left{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    border: none;
    bottom: 41.7px;
    left:10px;
    background-color: transparent;
}
main.home-page .arrow-right{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    border: none;
    bottom: 41.7px;
    right:10px;
    background-color: transparent;
}
main.home-page .dots{
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 30px;
    bottom:1px;
}
main section.our-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;   
}
main section.our-products h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
main .products{
    margin-bottom: 20px;
}
main article.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 87%;
    flex-wrap: wrap;
    margin: 10px;
    height: 400px;
    position: relative;
    background-color: #fff;
    border: 1px solid #47525E;
}
main article div.image{
    height: 200px;
}

main article div.description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    text-align: center;
  
}
article.product i.fa-percent{
    position: absolute;
    top: -16px;
    left: -18px;
    border: solid #97D3E5 3px;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    background-color: white;
}


main p.product-name{
    text-align: center;
    font-size: 20px;
}
main div.brand{
    text-align: center;
    font-size: 18px;
    width: 90%;
}
main div.price{
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
main div.price p{
    font-size: 18px;
}
main article.product a{
  text-decoration: none;
  color: black;
}
main div.buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
    height: 50px;
}
main button.buy,.edit{
 background-color: #fff;
 color:rgb(62, 193, 253);
 font-size: 20px;
 border-radius: 7px;
 padding: 5px;
 border: rgb(62, 193, 253) 2px solid;
}
main button.buy:hover{
    background-color: rgb(62, 193, 253);
    border: #fff 2px solid;
    color: #fff;
    cursor: pointer;
}
main button.edit:hover{
    background-color: rgb(62, 193, 253);
    border: #fff 2px solid;
    color: #fff;
    cursor: pointer;
}
main button.cart{
    background-color: transparent;
    border:none;
    margin-left: 10px;
    font-size: 28px;
}
main.productForm-page label
main.productForm-page div.information{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
main.productForm-page div.information{
    width: 100%;
}
main.productForm-page div.information input{
    display: flex;
    flex-direction: column;
    border: #3880bf solid 1px;
    padding: 5px 0px;
    margin: 5px 4px 5px 0px;
    border-radius: 2px;
}
main.productForm-page div.description{
    display: flex;
    flex-direction: column;
}
main.productForm-page div.description input{
    display: flex;
    flex-direction: column;
    border: #3880bf solid 1px;
    padding: 5px 0px;
    margin: 5px 4px 5px 0px;
    border-radius: 2px;
}
main.productForm-page div.image input{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;  
    padding: 8px;
}
main.productForm-page div.especifications{
    display: flex;
    flex-direction: column;
    padding: 3px 0px;
    margin: 5px 0px;
    border-radius: 2px;
    justify-content: center;
}
main.productForm-page div.especifications select{
    padding: 3px 0px;
    margin: 5px 0px 5px 0px;
    border-radius: 2px;
    justify-content: center;
    border: #3880bf solid 1px;
    width: 100%;
}
main.productForm-page div.category select{
    width: 100%;
}
main.productForm-page div.category{
    display: flex;
    flex-direction: column;
}
main.productForm-page div.detailedDescription textarea{
    display: flex;
    flex-direction: column;
    border: #3880bf solid 1px;
    padding: 5px 0px;
    margin: 5px 0px 5px 0px;
    border-radius: 2px;
    width: 100%;
}
main.productForm-page div.price{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main.productForm-page div.price input{
    display: flex;
    flex-direction: column;
    border: #3880bf solid 1px;
    padding: 5px 0px;
    margin: 5px 0px 5px 0px;
    border-radius: 2px;
    width: 100%;
}
main.productForm-page div.send-reset button{
    color: white;
    background-color: #3880bf;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    border: none;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
}
main.productForm-page div.send-reset{
    display: flex;
    flex-direction: row;
}
.all-products{
    margin: 20px;
    font-size: 40px;
}
main.cart-page .total-product{
    color:green;
}
main.product-detail h1{
    text-align: center;
    margin: 5px;
}
main.product-detail div.img{
    margin: 20px;
    display: flex;
    align-items: center;
}
main.product-detail div.info{
    display: flex;
    flex-direction: column;
   align-items: center;
}
main.product-detail div.information{
    display: flex;

    justify-content: center;
}
main.product-detail div.information p{
    font-size: 20px;
}
main div.detail-buy-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5px;
    flex-wrap: wrap;

}
main div.detail-buy-button a{
    margin: 5px;

}

footer{
    background-color:#044C8B;
    width: 100%;
    padding:7px;
    position: absolute;
    bottom: 0;
  
}
footer .inform, .pay, .contact-us{
    text-decoration: none;
    margin-bottom: 8px;
    color: white;
}
footer div.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media{
    display: flex;
    width: 100%; 
    justify-content: center;
    font-size: 30px;

}
div.footer{
    position:relative;   
}
.copyright{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13px;
}
.instagram, .twitter, .facebook{
    color: white;
    margin: 5px;
}
.text-danger {
    color: #dc3545 !important
}
.is-invalid{
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.is-invalid2{
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.9em + .2rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}     
.is-invalid:focus{
     box-shadow: 0 0 0 .18rem rgba(220, 53, 69, .25);
     border-color: #dc3545 !important
}
.is-valid
{
    border-color: #198754 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}
.is-valid2
{
    border-color: #198754 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.9em + .2rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.is-valid:focus
{
    border-color: #198754 !important;
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25)
}

div.profile-image{
    width: 50%;
}


@media (max-width: 767px){
    header{
        font-size: 15px;
    }
    header div.logo-nav-container{
       justify-content:space-around;
       display: flex;
       
    }
    header div.logo-list{
        width: 50%;
        display: flex;
    }
    header div.logo-list div.logo{
        width: 100px;
    }
    header div.logo-list div.logo a{
        width: 100%;
    }
    header div.logo-list div.list{
        width: 60%;
        padding:0px;
    }
    header .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    header .navigation{
        width: 40%;
        margin-top: 1rem;
    }
    header .navigation ul {
        display: flex;
        flex-direction: column;
    }
    header .navigation ul li{
        display: block;
    }
    header .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    header .navigation ul li a:hover{
            background-color:#f88888f8 ;
    }
    main.login-page form.login-form{
        width: 80%;
    }
}
@media (min-width: 768px) {
    main section article.product{
        width: 40%;
        margin: 20px;
    }
    main.product-detail section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}
@media (min-width: 1024px){
    main section article.product{
        width: 20%;
    }
}
