*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}
header div.top-header{
    display: flex;
    background-color:#E5E9F2;
    justify-content: space-between;
    height: 100px;
}
header div.top-header a.cart{
    color: transparent;
}
header div.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header div.account button.register, button.login{
    border:none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    background-color:#E5E9F2;
    font-family: 'Roboto', sans-serif;
}
header div.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header button.logo-button{
    background-color: transparent;
    border: none;
}
header div.logo img{
    width: 65%;
}
header div.topright-header{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header button.cart{
    background-color: transparent ;
    border: none;
}
header button.burger-menu{
    background-color: transparent;
    border: none;
}
header div i.fa-shopping-cart{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
header div i.fa-bars{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.register h1{
    margin:10px 0px;
    width: 90%;
    text-align: center;
}
main.register form.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.register div.information{
    display: flex;
    flex-direction: column;
    width: 80%;
}
main.register div.information label{
    font-weight: 600;
}
main.register div.information input{
    margin:5px 0px;
    padding: 5px 0px;
}
main.register div.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}
main.register div.notifications label{
    width: 90%;
    text-align: center;
    font-size: 15px;
    
}
main.register div.notifications input{
    padding: 2px;
}
main.register button.check{
    background-color: transparent;
    border: none;
}

main.register button.reg-button{
    font-size: 15px;
    background-color: #47525E;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin:0px 0px 20px;
}
main.register button.reg-button a{
    text-decoration: none;
    color:white;
}
main.cart-page div.title{
    display: flex;
    margin-top: 15px ;
    width: 100%;
    justify-content: center;
}
main.cart-page div.total{
    display: flex;
    margin: 15px 15px 15px 0px;
    width: 100%;
    justify-content: center;
}

.percent{
    position: relative;
    left: 60px;
    top: 21px;
}


  .close-button{
      border: none;
background-color: transparent;
font-size: 16px;
  }

main.cart-page div.product{
    position: relative;
    width: 100%;
    left: 90px;
  }
 main.cart-page div.product img{
     width: 50%;
     margin-bottom: -40;    
  }
main.cart-page div.product i{
    background-color: white;
    font-size: 20px;
    position: relative;
    bottom: 110px;
    right: 260px;
    border:solid black;
    padding: 5px;
    border-radius: 50%;
  }
main.cart-page h2{
    display: flex;
    position: relative;
    bottom: 30px;
    margin: 20px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
main.cart-page div.brand{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0px 10px 10px 10px;
  justify-content: center;
  bottom: 30px;
  }
main.cart-page div.price{
    width: 60%;
    position: relative;
    bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main.cart-page div.subtotal{
        margin: 15px;
        margin-right: 47%;
        position: relative;
        bottom: 30px;
}
main.cart-page div.finish-button{ 
        margin: 15px
}

.finish-button .finalizar{
    position: relative;
    bottom: 40px;
    border: none;
    background-color: #47525E;
    color: white;
    padding: 5px 9px 5px 9px;
    border-radius: 13%;
}

main.product-page .percent{
        display: flex;
        flex-wrap: nowrap;
}
      
main.product-page div.producto{
        display:flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: 250px;
        align-items: center;
}
main.product-page div.producto img{
        position: relative;
        left: 5px;
        margin:0px 0px 0px 20px;
        width: 200px;
        height: 200px;
    }
main.product-page div.producto i{
    background-color: white;
    font-size: 20px;
    position: relative;
    bottom: 103px;
      right: 215px;
      border:solid black;
      padding: 5px;
      border-radius: 50%;
}
    
main.product-page  h2{
        display: flex;
        margin: 11px;
        flex-wrap: nowrap;
        justify-content: center;
      }
      
main.product-page div.brand{
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      justify-content: center;
      }
main.product-page div.price{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: px;
        }
        
main.product-page button.buy{
          font-size: 20px;
          padding: 5px;
          background-color: #47525E;
          display: flex;
          flex-wrap: wrap;
          color: white;
          justify-content: center;
          border-radius: 5px;
        }
main.product-page button.buy a{
    text-decoration: none;
    color:white;
}
      
main.product-page button.cart{
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          color: #47525E;
          justify-content: center;
          border: none;
          align-items: center;
          font-size: 20px;
}
main.product-page div.button{
        margin: 13px;
        position: relative;
        left: 13px;
        width: 40%;
        display: flex;
        justify-content: space-around;
}
main.login-page h1{
        margin: 25px 0px;
}
main.login-page  div.information{
        display: flex;
        flex-direction: column;
       padding: 20px;
}
main.login-page  div.information label{
        font-weight: 600;
}
main.login-page  div.information input{
        margin:5px 0px;
        padding: 5px 0px;
}
main.login-page  div.mail{
        display: flex;
} 
main.login-page  div.password{
        display: flex;
}
main.login-page  form div.remember{
        display: flex;
        justify-content: center;
        align-items: center;    
}
main.login-page  form div.remember input{
        margin: 10px;
}
main.login-page  form div.forgot{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}   
main.login-page  form div.forgot button{
    border: none;
    background-color: white;
}
main.login-page  form div.forgot a{
    color: #000;
    text-decoration: none;
}
main.login-page  form div.forgot label{
   font-size: 15px;
}
main.login-page  form div.remember input{
    margin: 10px;
}
main.login-page  button.check{
        background-color: transparent;
        border: none;   
}
main.login-page  form.login-form{
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content:center;
        
}
main.login-page  div.login{
        display: flex;
        justify-content: center;
        margin:10px 0px;
}
main.login-page  button.login{
        background-color: #47525E;
        width: 90%;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px;
}
main.login-page  button.login a{
    color: white;
    text-decoration: none;
}

main.home-page .banner{
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
}
main.home-page h1{
    margin: 12px;
}
main.home-page .arrows{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 94%;
    bottom: 60px;
    border: none;
}
main.home-page .arrow-left{
    border: none;
    background-color: transparent;
    font-size: 19px;
}
main.home-page .arrow-right{
    border: none;
    background-color: transparent;
    font-size: 19px;
}
main.home-page .dots{
    position: relative;
    bottom: 43px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #47525E;
}
main.home-page .products{
    position: relative;
    bottom: 20px;
}

main.home-page .price{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
main.home-page div.product i{
    position: relative;
    bottom: 140px;
    right: 8px;
    border: solid black;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}
main.home-page div.product a{
    width: 100%;
    text-decoration: none;
    color:#000000;
}
main.home-page button.buy{
    border: none;
    background-color:#47525E;
    padding: 6px 8px 6px 8px;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}
main.home-page button.cart{
    font-size: 17px;
    border: none;
    background-color: transparent;
    color:none;
}
main.home-page button.cart a{
    background-color: transparent;
    color:#000000;
    
}
footer{
    margin-top: 20px;
    background-color:#47525E;
}
footer .inform, .pay, .contact-us{
    text-decoration: none;
    margin-bottom: 8px;
    color: white;
}
footer div.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media{
    display: flex;
    width: 100%; 
    justify-content: center;
    font-size: 30px;

}
.copyright{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13px;
}
.instagram, .twitter, .facebook{
    color: white;
    margin: 5px;
}
