<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main class="cart-page">
            <div class="title">
                <h3>Productos seleccionados</h3>
            </div>
            <div class="total">
                <h3>Total de productos:</h3>
            </div>
            <div class="product">
                <img src="images/producto-1.jpg" alt="product">
                <div class="percent"><i class="fas fa-percent"></i></div>
            </div>
            <h2 class="product-name">Nombre del producto</h2>
            </div>
            <div class="brand">
                <h3>Marca</h3>
            </div> 
            <div class="price">
                <h3>Precio</h3>
                <h3> %Precio</h3>
            </div>
           <div class="subtotal">
            <h4>Subtotal:</h4>
           </div>
            <div class="finish-button">
                <a href="/"><button type="submit" class="finalizar">Finalizar</button></a>
            </div>   
    </main>
    <%- include("./partials/footer") %>
</body>
</html>