<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <main class="product-page">
        <div class="producto">
            <img src="images/producto-1.jpg" alt="product">
            <i class="fas fa-percent"></i>
        </div> 
        <h2>Nombre del producto</h2>
        </div> 
        <div class="brand">
            <h3>Marca</h3>
        </div>
        <div class="price">
            <h3>Precio</h3>
            <h3> %Precio</h3>
        </div>
        <div class="button">
            <button type="submit" class="buy"><a href="/cart"> Comprar</a></button>
            <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
        </div>

       </main>
        
</body>
</html>