<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main class="cart-page">
       <h3>Productos Seleccionados</h3>
       <div class="total-product">Total de productos</div>
       <i class="fas fa-percent"></i>
    <%- include("./partials/footer")%>
</body>
</html>