<footer>
    <div class="info">
    <a class="pay" href="payment">Metodos de pago</a>
    <a class="inform" href="information">Sobre nosotros</a>
    <a class="contact-us" href="contact">Contáctanos</a>
    </div>
    <div class="social-media">
    <a class="facebook" href="https://es-la.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a class="instagram" href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
    <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="copyright">
        <p>Copyright 2021 © ToyHouse</p>
    </div>
</footer>