<header>
    <div class="top-header">
        <div class="logo"><a href="/"><button type="submit" class="logo-button"><img src="../images/LogoToyhouse.png" alt="logo"></button></a></div>
        <div class="account">
            <a href="/register"><button class="register">Registrarme</button></a>
            <a href="/login"><button class="login">Iniciar Sesion</button></a>
        </div>
        <div class="topright-header">
            <a href="/cart" class="cart">
                <button type="submit" class="cart"><i class="fas fa-shopping-cart"></i></button>
            </a>
                <button  type="submit" class="burger-menu"><i class="fas fa-bars"></i></button>
                
        </div>
    </div>
</header>