<header class="header">
    <div class="logo-nav-container">
        <div class="logo-list">
            <div class="logo">
            <a href="/"><img src="../../images/LogoToyhouse.png"alt="logo"></a>
            </div>
            <div class="list">
                <ul>
                     <li class="products"><a href="/products">Productos</a></li>    
                </ul>        
            </div>   
        </div>
        <form action="/products/search" method="post">
            <input class="search" type="text" name="search" id="search" placeholder="Buscar productos">
            <button type="submit"class="submit"><i class="fa fa-search"></i></button>
        </form>
        <nav class="navigation">
            <% if (locals.isLogged) { %>
             <ul class="loggedUl">
                <li class="user-image"><img src="../../images/Users/<%=  locals.userLogged.image %>"><a href="#">Hola <%= locals.userLogged.first_name%></a></li>                         
                <li><a href="/users/profile">Mi perfil</a></li>           
                <li><a href="/users/logout">Cerrar sesion</a></li>              
            </ul>   
            <% } else { %>                   
            <ul class="notLoggedUl">
                <li><a href="/users/register">Registrarse</a></li>
                <li><a href="/users/login">Iniciar sesion</a></li>
            </ul>
            <% } %> 
        </nav>  
    </div> 
</header>