<header class="header">
    <div class="logo-nav-container">
        <div class="logo-list">
            <div class="logo">
            <a href="/"><img src="../../images/LogoToyhouse.png"alt="logo"></a>
            </div>
            <div class="list">
                <ul>
                    <li class="products"><a style="text-decoration: none;color: white;" href="/products">Productos</a></li>    
                </ul>        
            </div>
           <button class="toggle-menu"><i class="fa-solid fa-bars"></i></button>    
        </div>
        
        <nav class="navigation">
        <form action="/products/search" method="post">
            <input class="search" type="text" name="search" id="search" placeholder="Buscar productos">
            <button type="submit"class="submit"><i class="fa fa-search"></i></button>
        </form>
        
            <% if (locals.isLogged) { %>
             <ul class="loggedUl">
                <li class="user-image"><img src="../../images/Users/<%=  locals.userLogged.image %>"><a href="#"style="pointer-events: none;
                    cursor: default;">Hola <%= locals.userLogged.first_name%></a></li>                         
                <li><a style="text-decoration: none;color: white;" href="/users/profile">Mi perfil</a></li>
                <li><a style="text-decoration: none;color: white;" href="/cart">Carrito</a></li>           
                <li><a style="text-decoration: none;color: white;" href="/users/logout">Cerrar sesion</a></li>              
            </ul>   
            <% } else { %>                   
            <ul class="notLoggedUl">
                <li><a style="text-decoration: none;color: white;" href="/cart">Carrito</a></li>   
                <li><a style="text-decoration: none;color: white;" href="/users/register">Registrarse</a></li>
                <li><a style="text-decoration: none;color: white;" href="/users/login">Iniciar sesion</a></li>
            </ul>
            <% } %> 
        </nav>  
    </div> 
</header>